.choices{
    width: 100%;
}

.choices__inner{
    position: inherit;
    width: 88%;
    background-color: #fff;
    padding: 8px 16px;
    min-height: 18.5px;
    border: 0;
}

.choices__list--single{
    padding: 0;
}

.choices[data-type*=select-one]::after {
    width: 20px;
    height: 20px;
    background: url('../img/arrow.svg') no-repeat center/contain;
    border: none;
    top: 8px;
    right: 16px;
}

.choices[data-type*=select-one].is-open::after {
    transform: rotate(180deg);
    margin-top: 0;
}

@media (max-width: 940px) {
    .choices__inner{
        width: 100%;
    }
}