.vacancies{
    padding: 50px 0;
}

.vacancies__container{
    display: flex;
    align-items: flex-start;
    gap: 24px 20px;
}

.vacancies__filter-btn{
    display: none;
}

.vacancies__filter{
    /* flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 0; */
    flex: 0 0 280px;
}

.vacancies__cards{
    flex-basis: 100%;
}

@media (max-width: 1140px) {
    .vacancies{
        padding: 40px 0;
    }
}

@media (max-width: 940px) {
    .vacancies{
        padding: 30px 0;
    }
    .vacancies__container{
        flex-direction: column;
        row-gap: 0;
    }
    .vacancies__filter-btn{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        transition-property: margin-bottom, color;
        transition-duration: 0.3s, 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.2s, 0;
    }

    .vacancies__filter-btn:hover:not(:focus-visible){
        color: #A6ADFF;
    }

    .vacancies__filter-btn-arrow{
        position: relative;
        top: -2px;
        display: block;
        width: 20px;
        height: 20px;
    }

    .vacancies__filter-btn_active{
        margin-bottom: 32px;
        transition-delay: 0;
    }

    .vacancies__filter-btn_active .vacancies__filter-btn-arrow{
        transform: rotate(180deg);
        top: 2px;
    }

    .vacancies__filter{
        width: 100%;
        flex-basis: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
    }
    .vacancies__filter_active{
        max-height: 700px;
        margin-bottom: 40px;
    }
    .vacancies__cards{
        width: 100%;
        /* padding-top: 8px; */
    }
}
@media (max-width: 640px){
    .vacancies__filter-btn_active{
        margin-bottom: 24px;
    }

    .vacancies{
        padding: 0;
    }
}